* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(252, 244, 219) ;
}

header {
    position: relative;
    height: auto;
}

header h1 {
    font-family: "Staatliches", sans-serif;
    font-size: 350%;
    color: rgb(248, 232, 180);
    text-decoration: underline;
    padding-bottom: 40px;
}

#sub_title {
    display: flex;
    font-family: "Staatliches", sans-serif;
    color: rgb(248, 232, 180);
    position: absolute;
    margin-top: 90px;
    font-size: 100%;
}

body > header {
    background-color: rgb(127, 107, 201);
    padding: 30px;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    
    font-size: x-large;
}

nav {
    align-self: center;
}


nav ul li{
    display:inline;
    justify-content:space-between;
    
}

nav ul li a {
    font-family: "Fugaz One", sans-serif;
    color: rgb(248, 232, 180);
    text-decoration: none;
    margin-left: 15px;
    font-size: larger;
    
}

nav ul li a:hover {
    text-decoration: underline;
    font-size: 140%;
}

.form-header {
    margin-right: 30px;
    right: 0;
    top: 0;
    padding: 15px 0;
    align-self: flex-start;
    position: absolute;
    font-size: small;
}

.header-button {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 5px;
    margin-top: 5px;
}

.header-button button {
    background-color:rgb(248, 232, 180); ;
    cursor: pointer;
    height: 25px;
    width: 70px;
    border: 3px solid rgb(91, 76, 145);
    border-radius: 15%;
    font-family: "Fugaz One", sans-serif;
    font-size: 12px;
}

.form-header input {
    font-family:"Bangers"; 
    width: 135px;
    border-radius: 5%;
    background-color:rgb(233, 230, 245) ;
}

.form-header label {
    padding-left: 10px;
}

h2 {
    font-family: "Fugaz One", sans-serif;
    font-size: 200%;
    color: rgb(54, 54, 54);
    margin-left: 200px;
    padding: 10px 15px;
}

h3 {
    margin-top: 10px;
    font-family:"Bangers";
    font-size: 150%;
    font-weight: 100;
    color:rgb(54, 54, 54);
}

article > header {
    padding-top: 10px;
}

.articles {
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start; 
}

.articles article {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    color: rgb(54, 54, 54);
    width: 650px; 
    margin-right: 20px; 
}

.articles article img {
    width: 100%; 
    height: 800px;
    border-radius: 10%;
    object-fit: cover;
}

article p {
    font-size: 110%;
    padding: 15px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    width: 100%;
}

.articles article,
h2 {
    margin-left: 20px;
}

footer p {
    font-size: 18px;
    font-family: "Fugaz One", sans-serif;
    color: black
}

#imagem_clicavel:hover {
    opacity: 70%;
}

footer {
    background-color: rgb(127, 107, 201);
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    display:flex;
}

form {
    font-size: 18px;
    font-family: "Fugaz One", sans-serif;
    font-weight: 100;
    color: black;
}

.footer-content {
    align-items: center;
}

.form-footer {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

footer button {
    background-color:rgb(248, 232, 180); ;
    cursor: pointer;
    height: 30px;
    width: 80px;
    border: 3px solid rgb(91, 76, 145);
    border-radius: 15%;
    font-family: "Fugaz One", sans-serif;
}

button:hover {
    background-color:rgb(252, 41, 129);
    border-color:rgb(248, 232, 180);
}

button:active {
    background-color: rgb(252, 41, 129);
    box-shadow: 0 5px rgb(54, 54, 54);
    transform: translateY(4px);
}

footer input {
    border-radius:3%;
    height: 25px;
    width: 300px;
    font-size: 110%;
    font-family:"Bangers";    
    background-color:rgb(233, 230, 245) ;
}